
body{

    background-color: #0099CC;
}

h1{

       color: mediumblue;
}

p{

   text-align: center;
   text-size-adjust: 50px;

}

.Main{

   text-align: center;
   
}

.Main{

   box-align: center;
}



