.Extranew{

    width: 35.5cm;
    height: 20cm;
 
    display: flex;
    flex-flow: row;
}

.Imponew{

    width: 8cm;
    height: 22cm;
    background-color: black;
 
   
}


.Datanew{

    width: 7cm;
    height: 3.5cm;

    margin-left: 5px;
   border-radius: 10px;
   color: white;
  
    
}

.Imponew h6{

    margin-left: 1cm;
}

h6{

   
    margin-left: 0.5cm;
}

.Secondnew{

    width: 26.5cm;
    height: 15cm;
    margin-top: 0.8cm;
    margin-left: 0.25cm;
}

.Profilenew{

    margin-left: 0.8cm;
    margin-top: 0.5cm;
    border-radius: 12px;
}

.Size4{

    margin-left: 0.8cm;
    margin-top: 0.9cm;
    border-radius: 16px;
   
    
}

